* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    font-family: serif;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-image: url(../media/images/acacia.jpg);
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 10px 10px;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.navbar li {
    padding: 1px 2px;
    position: relative;
}

a:visited, a:active, a:focus {
    text-decoration: none;
    color: white;
    }
    
    a:-webkit-any-link {
        color: white;
        cursor: pointer;
        text-decoration: none;
    }

.navbar li::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transform: scaleY(2);
    transition: .25s;
    opacity: 0;
}

.navbar li:hover::before {
    transform: scaleY(1.3);
    opacity: 1;
}

.navbar li::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    z-index: -1;
    transform: scale(0);
    transition: .25s;
    opacity: .5;
}

.navbar li:hover::after {
    transform: scale(1.3);
}

.Banner {
    color: white;
    position: fixed;
    top: 38px;
    width: inherit;
    display: inline-block;
    text-align: center;
    padding: 75px 25px 0;
    background-image: url(../media/images/banner-clock.jpg);
    background-size: 100% 495px;
    background-repeat: no-repeat;
    height: 500px;
}

.Banner p {
    text-align: justify;
    padding: 25px;
    font-size: 24px;
}